.container{
    float:center;
     width:440px
}

h1{
    text-align:center;
}

input{
    width: 400px;
        margin-top: 10px;
        border-color: #ce99ff;
        border-style: solid;
        border-width: 2px;
        border-radius: 3px;

}

#submit_bt{
    width: 200px;
    margin-left: 80px;
    margin-top: 10px
}