{% extends 'base.html' %}
{% block content %}
<div class="mainContent">
    <center><h1>About COWITA SOCIAL MEDIA</h1></center>
    <p>
        COWITA SOCIAL MEDIA is an online platform designed to increase the social contact between its users. Full
        formed as <I><b>C</b>ommunity <b>O</b>rganized <b>W</b>eb <b>I</b>nterfaced <b>T</b>exting <b>A</b>pplication,
    </I>it mainly focuses on enhancing the user experience by providing multiple features like:
    <ul>
        <li>
            It provides double-security feature of login with username and password along with face recognized login
            system
        </li>
        <li>
            It has an option to communicate with other users by sending messages
        </li>
        <li>
            You can also like the posts sent by other users increasing contact with them
        </li>
        <li>
            You get personalized results according to your following friends
        </li>
        <li>
            You can bookmark and also comment on posts
        </li>
        <li>
            You can video call or voice call with any friend or a group of friends by using InstaChat feature
        </li>
        <li>
            You get instant notifications when your friend follows you or posts a post
        </li>
        <li>
            You can also change your settings anytime, anywhere
        </li>
        <li>
            You can search for anyone's profile by using the search menu
        </li>
    </ul>
        Now what are you waiting for. Go ahead and start using our Social Media and become one of the trusted users
        <br><br>
        Yours faithfully,<br>
        Srithan Vignesh <br>
        CEO of COWITA SOCIAL MEDIA <br>
    </p>
</div>
{% endblock %}